In [4]:
with open("ozhegov.txt", mode="r", encoding="UTF-8") as file:
    text_lines = file.readlines()

In [6]:
import re
def return_first_match(pattern, text):
    result = re.findall(pattern,text)
    result = result[0] if result else ""
    return result

In [10]:
import pandas as pd


data = []

for line in text_lines:

    title = return_first_match(r"^[а-яА-Я]{2,}(?=,)", line)
    text = return_first_match(r"\.\s([А-Я]+.*)\n", line)

    if(len(title) > 3):
        data.append(
            {
                "title": title,
                "text" : text
            })

dataset = pd.DataFrame(data)
dataset.head()

        title                                               text
0      АБАЖУР  Колпак для лампы, светильника. Зеленый а. 11 п...
1  АБАЗИНСКИЙ  Относящийся к абазинам, к их языку, национальн...
2     АБАЗИНЫ  Народ, живущий в Карачаево-Черкесии и в Адыгее...
3       АББАТ  Настоятель мужского католического монастыря. 2...
4   АББАТСТВО                           Католический монастырь.

In [12]:
len(dataset)
dataset.to_csv('ozhegov_dataset.csv')